{% extends 'base.html.twig' %}


{% block body %}
    <br />
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="card text-center" style="height: auto; position: absolute; top: 0%; margin:auto; width:60%">
                <div class="card-header">
                    <h1>Potentialul site-ului tau este de...
                    </h1>
                </div>
                <div class="card-body text-center center row">

                    <p class="card-text  align-content-center" >
                    <div class="col-md-6">
                        <div class="jumbotron" style="background-color: #B8D2F6;height: 100%">
                            <div class="container">
                                <h3 class="display-5">{{ traficPotentialTotal | number_format }} vizite pe luna</h3>
                    <p class="lead">Lunar, exista {{ traficTotalGoogle | number_format }} de useri care cauta in Google produsele din industria ta! 60% dintre acestia dau click pe unul din primele trei rezultate, de ce nu ai fii si tu acolo?
                        Pe Facebook, sunt {{ traficTotalSM | number_format }} de useri in Romania interesati de produsele din industra ta! Daca ajungi sa le atragi atentia, poti atrage pana la {{ traficPotentialSM | number_format }} de vizite lunar! .</p>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="jumbotron" style="background-color: #8DAAF2; height: 100%">
                            <div class="container">
                                <h3 class="display-5">{{  vanzariTotale | number_format }} de vanzari pe luna</h3>
                                <br />
                                <br />


                                <p class="lead">Lunar, poti avea pana la {{ traficPotentialTotal | number_format}} de vizite in site. Statistic, 1.5% din vizitatori ajung sa cumpere.
                                    Astfel, te poti astepta la aproximativ {{ vanzariTotale | number_format }} de vanzari in fiecare luna!
                                    <br />
                                    <br />


                                </p>
                            </div>
                    </div>
                    </div>

                    </p>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid" style="background-color: #9EE2F3">
                    <div class="container">
                        <h3 class="display-5">{{ revenueTotal | number_format }} RON venit pe luna</h3>
                        <p class="lead">Conform unui studiu realizat de GPeC, valoarea medie a unei comenzi pentru industria ta este de aproximativ 200 de RON. Poti obtine asadar lunar vanzari in valoare totala de {{ revenueTotal | number_format }} de RON!
                        </p>
                    </div>
                </div>
            </div>
        </div>

                    <hr>
                    <div class="col-md-12">
                        <p class="card-text align-content-center">
                        <div class="col-md-12">
                            {{ form_start(userForm) }}

                            {{ form_row(userForm.email,{'label':'Email*'}) }}
                            &nbsp;&nbsp;
                            {{ form_row(userForm.name,{'label':'Nume*'}) }}
                            &nbsp;&nbsp;
                            {{ form_row(userForm.phone,{'label':'Telefon'}) }}



                        </div>
                        </p>
                    </div>



                <div class="card-footer text-muted">
                    <div class="horizontal-line">
                        <button type="submit" class="btn btn-primary" formnovalidate>Submit</button>
                        {{ form_end(userForm) }}

                        <p>Sunt multi factori ce iti pot imbunatati rezultatele si multe tipuri de abordari posibile. <a href="https://zitec.com/contact-us"> Hai sa ne auzim la o cafea!</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-2"></div>
    </div>


    <img href="{{ asset('images/Screenshot_3.png') }}" />
{% endblock %}